<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BLOG LIST</title>
    {% load static %}
</head>
<body>
    {% for post in object_list %}
        {% if post.head_image %}
            <img src="{{post.head_image.url}}" width="750" height="300" alt="기사 사진">
        {% else %}
            <img src="{% static 'blog/img/noImg.png' %}" width="750" height="300">
        {% endif %}
        <h1>{{post.pk}} : {{post.title}}</h1>
        <h4>{{post.content | truncatewords:20}}
            <a href = "{% url 'detail' post.pk %}">Read More...</a>
        </h4>
        <h4> Post on {{post.created}} by {{post.author}} </h4>
        <hr color = "red">
        <br><br>
    {% endfor %}
</body>
</html>